.container {
  width: 50px;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 400px;
  margin: 7px 25px;
}

body {
  background-color: #393E46;
}


.images{
text-align: center;
}

.title{
text-align: center;
margin: 20px 60px;
background-color: red;
padding: 50px;
font-size: 16rem;
font-family: 'Lobster', cursive;
text-shadow: 5px 0 #232931;
color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
  text-align: center;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
